@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*O box-sizing: border-box faz com que todos os elementos não passem da largura do seu elemento pai*/
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -400px;
    transition: all 0.4s ease;
}

#principal{
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

h3{
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(136, 136, 136);
}

#operations{
    text-align: right;
}

#previus-operation{
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;/*Serve para quebrar o conteúdo dentro do elemento para não vazar para fora caso o conteúdo fique muito grande*/
    min-height: 1.6em;
}

#current-operation{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#buttons-operation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;/*Serve para definir a proporção de cada uma das colunas*/
    gap: 3px;/*Como se fosse um padding do grid, ele da um espaçamento de tamanho igual entre os elementos do tamplete-columns*/
}

#buttons-operation button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#buttons-operation button:hover{
    background-color: #bababa;
    border-color:#999;
}

#buttons-operation .number{
    background-color: #f3f3f3;
}

#buttons-operation #equal-btn{
    grid-column: span 2; /*Ocupar 2 espaços*/
    background-color: #75a5cb;
}

#buttons-operation #equal-btn:hover{
    background-color: #3a91d8;
}

#aba{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    color: white;
    padding: 5px;
    height: 100%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.367);
    text-align: center;
}