@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: larger;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form input{
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.form button{
    background-color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.res{
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    margin: auto;
}