@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(75, 126, 237);
    color: white;
}

header{
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

section{
    margin: auto;
    background-color: white;
    color: black;
    width: 470px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.366);
}

div{
    padding: 8px;
}

input{
    width: 180px;
    margin: 7px 0px 7px 10px;
    padding: 2px;
}

input[type=button]{
    padding: 3px;
    cursor: pointer;
}

footer{
    margin: 20px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
}

div#buttons{
    display: flex;
}

div#add{
    display: flex;
    flex-direction: column;
}